<template>
  <div class="container pt-5 pb-5">
    <NewsCard v-for="el in newsList" :key="el.id" :newsItem="el"/>
  </div>
</template>

<script>
import NewsCard from "@/components/NewsCard";

export default {
  name: "MainContent",
  components: {
    NewsCard
  },
  computed: {
    newsList() {
      return this.$store.state.newsList;
    }
  },
  mounted() {
    this.$store.commit("getNews");
  }
};
</script>

<style>
</style>