<template>
  <div class="photo-editor">
    <img :src="previewImage" alt class="photo-editor__preview" />

    <label class="btn btn-primary">
      <span v-if="previewImage">Изменить изображение</span>
      <span v-else>Загрузить изображение</span>

      <input type="file" class="d-none" @change="onImageChange" accept="image/*" />
    </label>
  </div>
</template>

<script>
export default {
  name: "NewsCardEditorPhoto",
  props: {
    photo: [String, Boolean]
  },
  data: () => ({
    unsavedPhoto: ""
  }),
  methods: {
    onImageChange(e) {
      const image = e.target.files[0];
      const reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = e => {
        this.unsavedPhoto = e.target.result;
        this.$emit("savePhotoChanges",this.previewImage, "photo");
      };
    }
  },
  computed: {
    previewImage() {
      return this.unsavedPhoto || this.photo;
    }
  }
};
</script>

<style lang="scss">
.photo-editor {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__preview {
    max-width: 280px;
    width: 100%;
  }

  .btn {
    margin-bottom: 0;
    margin-top: 15px;
  }
}
</style>