<template>
  <div class="news-card-content">
    <div class="news-card-content__header">
      <span>{{date}}</span>
      <button class="btn btn-secondary" @click="$emit('openEditMode', true)">
        <img src="@/assets/edit.svg" />
      </button>
    </div>

    <div class="news-card-content__inner">
      <div class="news-card-content__photo" v-if="coverImage">
        <img :src="coverImage" />
      </div>

      <div class="news-card-content__text" v-html="text"></div>

      <div class="news-card-content__links" v-if="links && links.length">
        <a :href="link.url" v-for="(link, index) in links" :key="index">{{link.title}}</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NewsCardContent",
  props: {
    date: [Date, String],
    coverImage: [String, Boolean],
    text: String,
    links: Array
  }
};
</script>

<style lang="scss">
.news-card-content {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    align-items: center;
    font-size: 0.875em;
    opacity: 0.7;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__photo {
    width: 260px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: inherit;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  &__text {
    flex: 1;
  }

  &__links {
    width: 100%;
    margin-top: 10px;

    a {
      display: inline-block;
      margin: 0 5px;
    }
  }

  @media (max-width: 767px) {
    &__inner {
      flex-direction: column;
    }

    &__photo {
      width: initial;
      margin-right: auto;
      margin-left: auto;
      margin-top: 20px;
      order: 1;
    
    }
  }
}
</style>