<template>
  <div class="news-card" :class="{editing: isEditing}">
    <NewsCardEditor
      v-if="isEditing"
      :text="parsedText"
      :photo="coverImage"
      :id="newsItem.id"
      @closeEditMode="toggleEditMode"
    />
    <NewsCardContent
      v-else
      :date="date"
      :coverImage="coverImage"
      :text="parsedText"
      :links="newsItem.link"
      @openEditMode="toggleEditMode"
    />
  </div>
</template>

<script>
import NewsCardContent from "@/components/NewsCardContent";
import NewsCardEditor from "@/components/NewsCardEditor";

export default {
  name: "NewsCard",
  props: {
    newsItem: {}
  },
  components: {
    NewsCardContent,
    NewsCardEditor
  },
  methods: {
    urlify(text) {
      var urlRegex = /(https?:\/\/[^\s]+)/g;
      return text.replace(urlRegex, function(url) {
        return `<a href="${url}">${url}</a>`;
      });
    },
    toggleEditMode(status) {
      this.isEditing = status || !this.isEditing;
    }
  },
  data: () => ({
    isEditing: false
  }),
  computed: {
    coverImage() {
      return this.newsItem.photo !== null ? this.newsItem.photo : false;
    },
    parsedText() {
      let text = this.newsItem.text;
      return this.urlify(text);
    },
    date() {
      const date = this.newsItem.changedAt || this.newsItem.createdAt;
      return this.$moment(date).format("DD.MM.YYYY, hh:mm");
    }
  }
};
</script>

<style lang="scss">
.news-card {
  margin-bottom: 30px;
  white-space: pre-line;
  padding: 20px 25px;
  background-color: #eee;
  border-radius: 10px;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
    align-items: center;
  }

  &__content {
    display: flex;
    align-items: flex-start;
  }

  &__date {
    font-size: 0.875em;
    opacity: 0.7;
  }

  &__text,
  &__editor {
    flex: 1;
  }

  &__photo {
    // float: left;
    max-width: 280px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: inherit;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  &__footer {
    margin-top: 30px;
    // text-align: center;

    & > * {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 12px 15px;

    &__content {
      flex-direction: column;
    }

    &__photo {
      order: 1;
      max-width: initial;
      margin-top: 30px;
      margin-right: 0;
      max-width: initial;
    }
  }
}

.editing {
  .news-card {
    &__content {
      flex-direction: column-reverse;
    }
  }
}
</style>