<template>
  <div class="news-card-editor">
    <NewsCardEditorText :content="text" @saveTextChanges="writeChanges" />
    <NewsCardEditorPhoto :photo="photo" @savePhotoChanges="writeChanges" />
    <div class="news-card-editor__controls">
      <button class="btn btn-success" @click="saveChanges">Сохранить</button>
      <button class="btn btn-danger" @click="$emit('closeEditMode', false)">Отменить</button>
    </div>
  </div>
</template>

<script>
import NewsCardEditorText from "@/components/NewsCardEditorText";
import NewsCardEditorPhoto from "@/components/NewsCardEditorPhoto";

export default {
  name: "NewsCardEditor",
  components: {
    NewsCardEditorText,
    NewsCardEditorPhoto
  },
  props: {
    text: String,
    photo: [String, Boolean],
    id: String
  },
  data: () => ({
    changedData: {
      text: "",
      photo: ""
    }
  }),
  methods: {
    writeChanges(data, type) {
      this.changedData[type] = data;
    },
    saveChanges() {
      this.$store.commit("changeNewsItem", {
        id: this.id,
        text: this.changedData.text,
        photo: this.changedData.photo,
        changedAt: new Date()
      });
      this.$emit("closeEditMode", false);
    }
  }
};
</script>

<style lang="scss">
.news-card-editor {
  &__controls {
    margin-top: 20px;

    .btn {
      &:not(:last-of-type) {
        margin-right: 15px;
      }
    }
  }
}
</style>